
body{
    display: flex;
    flex-direction: column;

}

.jumbotron{
    background-color: #610aa8;
    color: #ffffff;
    margin-top: 60px;
}
footer{
    background-color: #610aa8;
    width: 100%;
    color: #ffffff;
}
a{
    color: #ffffff;
}

a:hover{
    color: rgb(213, 221, 228);
    text-decoration: none;
}
.card-hotel{
    text-align: center;
    border: solid #000000 2px;
    margin: 20px;
}

.card-hotel p{
    margin: 15px;
}
